:root {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  border: none;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
