name: prod deploy
on:
  push:
    branches:
      - main

jobs:
  deployment:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: production
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID_PROD }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_PROD_TOKEN }}

    steps:
      - uses: actions/checkout@v5
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Pull Vercel Project Settings
        run: |
          vercel pull --yes --environment=production --token=${{ secrets.VERCEL_PROD_TOKEN }}
      - name: Build and Deploy to Production
        run: |
          vercel build --prod --token=${{ secrets.VERCEL_PROD_TOKEN }}
          vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_PROD_TOKEN }}
