name: stage deploy
on:
  push:
    branches:
      - develop

jobs:
  deployment:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: staging
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_STAGE_TOKEN }}

    steps:
      - uses: actions/checkout@v5
      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Project Settings
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_STAGE_TOKEN }}

      - name: Build and Deploy Stage
        run: |
          vercel build --token=${{ secrets.VERCEL_STAGE_TOKEN }}
          vercel deploy --prebuilt --token=${{ secrets.VERCEL_STAGE_TOKEN }}
